[build-system]
requires = ["pdm-backend"]
build-backend = "pdm.backend"

[project]
name = "ldlite"
version = "1.0.0"
description = "Lightweight analytics tool for FOLIO services"
authors = [
    {name = "Katherine Bargar", email = "kbargar@fivecolleges.edu"},
    {name = "Nassib Nassar", email = "nassib@indexdata.com"},
]
dependencies = [
    "duckdb==0.6.1",
    "pandas<=1.5.2",
    "psycopg2==2.9.5",
    "requests==2.28.2",
    "tqdm==4.64.1",
    "XlsxWriter==3.0.6",
]
requires-python = ">=3.7,<3.10"
readme = "README.md"
license = {text = "Apache-2.0"}
classifiers = [
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]

[project.urls]
Homepage = "https://github.com/library-data-platform/ldlite"
"Bug Tracker" = "https://github.com/library-data-platform/ldlite/issues"

[tool.pytest.ini_options]
pythonpath = "src"
addopts = [
    "--import-mode=importlib",
]

[tool.ruff]
target-version = "py39"
[tool.ruff.lint]
select = ["ALL"]
fixable = ["ALL"]
ignore = ["FBT", "ANN401", "D105", "FIX002", "PLR2004", "TD002", "TD003", "COM812"]
pydocstyle.convention = "google"
[tool.ruff.lint.per-file-ignores]
"tests/*" = ["D", "S", "INP001", "N813"]
"src/*" = ["ALL"]

[tool.pdm]
distribution = true
package-dir = "src"

[tool.pdm.scripts]
test = "python -m pytest -vv"

[dependency-groups]
lint = [
    "mypy>=1.4.1",
    "ruff>=0.11.9",
]
test = [
    "pytest>=7.4.4",
    "pytest-cases>=3.8.6",
]

