# yaml-language-server: $schema: https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
---
name: Test

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - review_requested
      - ready_for_review
      - auto_merge_enabled

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # install dependencies
      - uses: pdm-project/setup-pdm@v4
        with:
          cache: true
          cache-dependency-path: pylock.toml
      - run: pdm install -G:all --lockfile pylock.toml

      # test
      - run: pdm run test

  test-minimal-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # install dependencies
      - uses: pdm-project/setup-pdm@v4
        with:
          cache: true
          cache-dependency-path: pylock.minimal.toml
      - run: pdm install -G:all --lockfile pylock.minimal.toml

      # test
      - run: pdm run test
